*{
    margin: 0;
    padding: 0;
    /* background: #F6F6FE; */
    box-sizing: border-box;
    background-position: center;
    font-family: 'Poppins',sans-serif;
    }
.switch-toggle-btn{
    display: flex;
}    
    
.loginbox{
    width: 550px;
    height: 500px;
    margin: 5% auto;
    background: #BF78DD;
    color: #fff;
    border-radius: 20px;
    text-align: center; 
}

.loginbox input[type="text"]{
    border: none;
    border-bottom: 2px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin-bottom: 35px;
    width: 60%;
}
.loginbox input[type="password"]{
    border: none;
    border-bottom: 2px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin-bottom: 40px;
    width: 60%;
    margin-left: 110px;
    margin-bottom: 20px;
}
.loginbox input[type="submit"]{
    border: none;
    outline: none;
    margin-top: 20px;
    height: 40px;
    background: #fff;
    color: #BF78DD;
    font-size: 15px;
    border-radius: 19px;
    width: 40%;
    font-weight: bold;
}
.loginbox input[type="submit"]:hover{
    cursor: pointer;
    background: #ffc107;
    color: #fff;
}
.loginbox ::placeholder{
    color: #FFFFFF;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: white;
    margin-left: 5px;
}
.loginbox p{
    font-size: 12px;
    line-height: 20px;
    color: white; 
}
.loginbox a:hover{
    color: #ffc107;
}

#register-box{
    position: relative;
    margin: 5% auto;
    height: 600px;
    width: 680px;
    background: #fff;
    border: 2px solid #BF78DD;
    border-radius: 19px;
}
.left-box{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
}
.left-box ::placeholder{
    color: #BF78DD;
}
.left-box h1{
    margin: 0 0 20px 0;
    font-weight: bold;
    font-size: 21px;
    color: #BF78DD;
}
.register-div{
   position: relative;
}
.input-icons {
    height: 20px;
     width: 20px; 
     position:absolute; 
     bottom:5px;
}

 #register-box input[type="text"], input[type="password"]{
    display: block;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    border: none;
    outline: none;
    font-family: sans-serif;
    font-size: 16px;
    color: #BF78DD;
}

#register-box .left-box input{
    border-bottom: 2px solid #BF78DD;
    text-align: center; 
}
#demo8::placeholder{
    margin-left: -55px;
}

.right-box a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: white;
    margin-left: 5px;
}
.right-box p{
    font-size: 12px;
    line-height: 20px;
    color: white; 
}
.right-box a:hover{
    color: #ffc107;
}
.profile{
    background: #fff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
    margin-left: 50px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
}
.profile img{
    margin-top: 8px;
    width: 70px;
    height: 70px;
}
.camera{
    background: #fff;
    border-radius: 50%;
    border: 2px solid #BF78DD;
    width: 30px;
    height: 30px;
    right: 4%;
    margin-top: -18%;
    z-index: 5;
    position: absolute;
}
.camera img{
    width: 20px;
    height: 20px;
}

#register-box .right-box input{
    border-bottom: 2px solid #fff;
    text-align: center;
    background: transparent;
    color: #fff;
    padding: 10px;
}
.right-box ::placeholder{
    color: #FFFFFF;
}
#icons-button{
    padding: 2px;
}
#icons{
    margin-left: 20px;
}
.right-box{
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 350px;
    height: 600px;
    background: #BF78DD;
    border-top-right-radius: 19px;
    border-bottom-right-radius: 19px;
}
#register-box select{
    width: 220px;
    border-radius: 3px;
    height: 30px;
    margin: 20px 0 20px;
    outline: none;
    border: 2px solid #BF78DD;
    font-size: 16px;
    color: #BF78DD;
}
#register-box input[type="submit"]{
    position: absolute;
    top: 500px;
    left: 280px;
    border: 3px solid #fff;
    outline: none;
    height: 40px;
    background: #BF78DD;
    color: #fff;
    font-size: 15px;
    border-radius: 19px;
    width: 20%;
    font-weight: bold;
}
.dashboard{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #BF78DD;
    border-radius: 30px;
    margin-left: 30px;
    width: 200px;
    height: 800px;
    align-items: center;
}
.logo{
    margin-top: 10px;
}
.links{
    display: flex;
    margin: 20px;
    align-items: center;
}
.container-fluid{
    display: flex;
}
.topp-bar{
    background: #BF78DD;
    display: flex;
    width: 600px;
    height: 130px;
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 11px;
    justify-content: space-between;
}
.navv-bar h1, p{
    color: #fff;
    padding: 0px;
    margin-left: 40px;
}
.navv-bar h1{
    font-weight: bold;
    font-size: 25px;
}
.navv-bar p{
    font-size: 16px;
    font-weight: lighter;
}
.topp-left{
    display: flex;
    margin-top: 30px;
    margin-left: 500px;
}
.navv-left{
    padding: 20px;
}
.notificationn-btn{
    position: relative;
    cursor: pointer;
}
.notificationns{
    position: absolute;
    top: -5px;
    right: -10px;
    background: #BF78DD;
    padding: 0 5px;
    border-radius: 50%;
    color: white;
}
.mainn{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 30px;
    border-bottom: 3px solid #e3dfe4;
}
.headerr{
    display: flex;
   justify-content: space-between;

}
.headerr h2{
    font-weight: bold;
    font-size: 15px;
    color: #BF78DD;
    display: flex;
}
.picture{
    background: #BF78DD;
    width: 50px;
    height: 20px;
    border-radius: 11px;
    text-align: center;
    margin-left: 40px;
    margin-top: 12px;
}
.picture img{
    margin: 5px;
}
.calendar{
    background: #F7F4F8;
    display: flex;
    height: 35px;
    width: 120px;
    align-items: center;
    border-radius: 14px;
    justify-content: space-evenly;
}
.calendar h4{
    font-weight: bold;
    font-size: 13px;
    color: #707070;
}
.data-reportts{
    margin-top: 250px;
    margin-left: 30px;
}
.weekly-reportts{
    display: flex;
    justify-content: space-between;
}
.weekly-reportts h2{
    color: #BF78DD;
    font-size: 15px;
    font-weight: bold;
}
.dattes{
    font-size: 13px;
    color: #BF78DD;
}
.reportts{
    display: flex;
    justify-content: space-between;
}
.rating-figg{
    border: 2px solid #707070;
    border-radius: 16px;
    width: 80px;
    height: 100px;
    color: #BF78DD;
    text-align: center;
    padding: 2px;
    margin-top: 20px;
}
.rating-figg img{
    margin-top: 10px;
}
.rating-figg h3{
    font-size: 13px;
    font-weight: bold;
}
.rating-figg span{
    font-size: 12px;
    margin-right: 50px;
}
.ratings{
    background: #BF78DD;
    width: 50px;
    height: 35px;
    border-radius: 8px;
    margin-left: 15px;
    color: #FFFFFF;
}
.ratings h2{
    margin-left: -4px;
    margin-top: 10px;
}
.meddia{
    padding-top: 50px;
    margin-left: 30px;
}
.meddia h2{
    font-size: 15px;
    font-weight: bold;
    color: #BF78DD;
}
.share-platforms{
    display: flex;
    justify-content: space-between;
}
.faccebook{
    border-radius: 21px;
    width: 250px;
    padding-top: 12px;
    height: 60px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin-right: 100px;
}
.faccebook a{
    font-size: 18px;
    font-weight: bold;
    color: #BF78DD;
    text-decoration: none;
    margin-left: 20px;
}
.faccebook img{
    border: 2px solid #BF78DD;
    border-radius: 50%;
    margin-left: 100px;
    margin-top: 6px;
    padding: 3px;
}
.WhattsApp{
    background: #BF78DD;
    border-radius: 21px;
    padding-top: 12px;
    width: 250px;
    height: 60px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.WhattsApp a{
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 20px;
}
.WhattsApp img{
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    margin-left: 100px;
    margin-top: 6px;
    padding: 3px;
}
span{
    padding-left: 20px;
}
.contennt-left{
    margin-left: 200px;
}
.glass_cad{
    background: #e5e5f5;
    min-height: 800px;
    width: 500px;
    border-radius: 20px;
}
.books_status{
    margin-left: 20px;
    font-size: 17px;
    font-weight: bold;
    color: #BF78DD;
    padding-top: 2px;
}
.cads-view{
    display: flex;
}
.cads{
    background: #FFFFFF;
    width: 200px;
    margin: 20px;
    height: 100px;
    border-radius: 17px;
}
.cads p{
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
    margin-top: 20px;
    color: #707070;
    font-size: 11px;
    font-weight: bold;
}
.cad1{
    background: #F25767;
    width: 170px;
    height: 40px;
    margin-left: 15px;
    margin-top: 20px;
    border-radius: 13px;
}
.cad1 img{
    background: #707070;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 6px;
    width: 30px;
}
p .btn{
    padding: 3px;
}
.cad1 .btn{
    background: #F25767;
}
.cad2{
    background: #FFA000;
    width: 170px;
    height: 40px;
    margin-left: 15px;
    margin-top: 20px;
    border-radius: 13px;
}
.cad2 img{
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 6px;
    width: 30px;
}
.cad2 .btn{
    background: #FFA000;
}
.cad3{
    background: #87DFF0;
    width: 170px;
    height: 40px;
    margin-left: 15px;
    margin-top: 20px;
    border-radius: 13px;
}
.cad3 img{
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 6px;
    width: 30px;
}
.cad3 .btn{
    background: #87DFF0;
}
.cad4{
    align-items: center;
    background: #E4E4E4;
    width: 170px;
    height: 40px;
    margin-left: 15px;
    margin-top: 20px;
    border-radius: 13px;
}
.cad4 img{
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 6px;
    width: 30px;
}
.switch-toggle-btn{
    display: flex;
    justify-content: space-between;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 15px;
    top: 15px; 
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #E4E4E4;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: -5px;
    bottom: 0px;
    background-color: #707070;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #E4E4E4;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #E4E4E4;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.btn{
    border-radius: 10px;
    font-size: 10px;
    color: #FFFFFF;
    border: none;
    height: 15px;
    cursor: pointer;
}
.glass2-reading-summary{
    background: #FFFFFF;
    width: 450px;
    min-height: 300px;
    border-radius: 20px;
    margin-left: 20px;
}
.cad-info h2{
    font-size: 17px;
    font-weight: bold;
    color: #BF78DD;
    margin-left: 20px;
}
.progress-information img{
    background: #E4E4E4;
    border-radius: 7px;
    padding: 5px;
    width: 25px;
    height: 25px;
    margin-top: 20px;
    margin-right: 20px;
}
.progress-information{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.weekly-reading-progress{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}
.reading-progress-bar{
    background: #E4E4E4;
    width: 10px;
    height: 200px;
    border-radius: 4px;
    margin-left: 20px;
    margin-right: 20px;
}
.reading-progress h5{
    font-size: 11px;
    color: #707070;
    margin-left: 20px;
    margin-right: 20px;
}

/* Books page */
.topp-nav{
    display: flex;
    margin-top: 40px;
    margin-left: 30px;
}
.topp-nav h2{
    font-size: 18px;
    color: #BF78DD;
    margin-left: 20px;
}
.topp-nav .topp-right{
    display: flex;
    margin-left: 900px;
    justify-content: space-between;
}
.navv-right{
    padding: 20px;
}

.admin-books-view{
    display: flex;
    justify-content: space-between;
}

.books-view{
    background: #FFFFFF;
    border-radius: 5px;
    margin-left: 25px;
}
.books-view h3{
    font-size: 40px;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 1px;
    margin-bottom: 10px;
    color: #BF78DD;
}
.books-view span{
   font-size: 12px;
   color: #BF78DD;
}
.glass3{
    background: #FFFFFF;
    height: 550px;
    width: 760px;
    padding: 20px;
    border-radius: 5px;
    margin-left: 25px;
}
.glass3 input[type="text"]{
    width: 300px;
    height: 35px;
    border: 1px solid #707070;
    border-radius: 3px;
    outline: none;
}
.glass3 ::placeholder{
    color: #BF78DD;
}
.table-field{
    margin-top: 15px;
}
table th, table td{
    color: #BF78DD;
    border-bottom: 2px solid #F6F6FE;
    padding: 10px;
    }  
.upload-form{
    background: #FFFFFF;
    height: 650px;
    width: 400px;
    padding: 10px;
    border-radius: 5px;
}
.upload-form-info h4{
    color: #BF78DD;
    border-bottom: 2px solid #F6F6FE;
    width: 380px;
    font-size: 15px;
}
.preference{
    padding-left: 25px;
}
.preference label{
    color: #BF78DD;
    font-size: 15px;
    font-weight: bold;
}
.preference input[type="text"]{
    border: 1px solid #707070;
    border-radius: 3px;
    outline: none;
    position: relative;
}
.upload-preference{
    border: 1px solid #707070;
    border-radius: 3px;
    width: 320px;
    height: 38px;
    padding: 5px;
    margin-bottom: 30px;
}
.preference ::placeholder{
    color: #BF78DD;
}
.preference img{
    position: absolute; 
    margin-left: 280px;
    top: 458px;
}
#drop-down{
    position: absolute; 
    margin-left: 280px;
    top: 563px;
}
#files-icon{
    position: absolute; 
    margin-left: 280px;
    top: 660px;
}
.upload-form-info input[type="submit"]{
    border-radius: 3px;
    color: #FFFFFF;
    background: #BF78DD;
    border: none;
    font-size: 15px;
    font-weight: bold;
    margin-left: 25px;
}


/* tutorials page */
#drop-down-icon{
    position: absolute; 
    margin-left: 280px;
    top: 360px;
}
#file-tutorial-icon{
    position: absolute; 
    margin-left: 280px;
    top: 460px;
}


/* footer */
.footer{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}